node_modules/
linkshort.db
linkshort.db-shm
linkshort.db-wal
*.log
.cache/
linkshort-app/.cache/
linkshort-app/netlify/functions/_server/
linkshort-app/netlify/functions/api/_server/
linkshort-app/.netlify/
